<div class="container">
  <h1>Edit task</h1>
  <div>
    <%= render 'form', task: @task %>
  </div>
  <div class="link-box">
    <span> <i class="fas fa-undo"></i> <%= link_to "Back to list", tasks_path %></span>
  </div>
</div>
